.brand-logo {
  margin-top: 10px;
}

#privacy-policy {
  color: white;
  text-decoration: underline;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
}

.feature1 {
  background-image: url("../img/shopping.jpg");
  background-size: cover;
  background-position: 50% 85%;
  height: 100%;
}

.feature2 {
  background-image: url("../img/gifts.jpg");
  background-size: cover;
  background-position: 50% 85%;
}

.hero {
  position: relative;
}

.img-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
}

.trends, .dive {
  padding-top: 20px;
  padding-bottom: 10px;
}

.trends .card {
  height: 80vh;
}

.trends .card .img {
  height: 50%;
}

.tools .card {
  height: 80vh;
}

.tools .card .img {
  height: 40%;
}

.page-footer {
  background-color: #3367d6;
}

.page-footer li {
  display: inline-block;
  margin-right: 12px;
}

.title-bottom {
  position:absolute;
  bottom: 0;
}

.text-box {
  position:absolute;
  bottom: 3vh;
  right: 3vw;
}

.panel-header {
  padding-left: 20px;
}

.trends .card-subtitle {
  position:absolute;
  bottom: 3vh;
}

.dive  {
  padding: 20px;
}

.div ul {
  margin-bottom: 10px;
}

.tools .card-subtitle {
  position:absolute;
  bottom: 4vh;
}

.tools .card-subtitle a {
  margin-left: 4px;
  margin-right: 4px;
}

.btn {
  margin-top: 15px;
}

.page-footer {
  padding-bottom: 20px;
}
